.cover {
    border-radius: 20px;
    color: #E74C3C;
    text-align: center;
    font-size: 1.3em;
    width:25%;
    float:left;
    font-family: 'Titillium Web', sans-serif;
}
h1 {
    color: #E74C3C;
    text-align: center;
    font-size: 5em;
    font-family: 'Titillium Web', sans-serif;
}
h2 {
    text-align: center;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    color: #34495E;
}
footer {
    color: grey;
    text-align: center;
    font-size: 0.9em;
}
body {
        background-image: url(https://wallpapercave.com/wp/wp2757874.gif);
        background-repeat: no-repeat;
        background-size: cover;
}
hr {
     background-color: #34495E;
     height: 2px;
}
    