input[type=text] {
    width: 20%;
    padding: 3px 3px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 2px solid #882211;
    background-color: #2357;
    border-radius: 4px;
    color: #CCDDFF;
}
h1{
    text-transform: uppercase;
    font-weight: lighter;
}
body {
    font-family: Okuda, sans-serif;
    background-color: black;
    background-image: url(http://www.lcars.org.uk/lcars_files/lcars3.gif);
    background-repeat: repeat;
    background-size: contain;
    background-size: cover;
    max-width:100%;
    min-width:800px;
    max-height:500px;
    min-height:21%;
    padding: 0;
    color: #CCDDFF;
    font-size: 20px;
    overflow: auto;
}
select{
    background: #2379; 
    color: #CCDDFF;
    text-shadow:#006699;
    font-family: Okuda, sans-serif;
    font-size: 20px;
}
select option {
    background: #2379; 
    color: black;
    text-shadow:#006699;
    font-family: Okuda, sans-serif;
    font-size: 20px;
}
.button {
    font-family: Okuda, sans-serif;
    background-color: #9999CC;
    color: black;
    border-radius: 50px;
    background: #9999CC;
    padding: 10px; 
    width: 100px;
    height: 10px;
    font-size: 20px;
    line-height: 0em;
}